.List {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    text-align: left;
}

.List li {
    padding: 2px 0;
    color: #fff;
}

.List .Remove {
    cursor: pointer;
    color: rebeccapurple;
}